.Note {
    min-width: rem(1200px);
    min-height: rem(900px);
    width: 100vw;
    height: 100vh;

    display: flex;
    overflow: auto;
    background: $whitegray;

    .file-tree-wrapper {
        width: 20%;
        margin-right: 30px;
        padding-left: 6rem;

        .file-tree {
            width: 100%;
            margin-right: 30px;
            margin-top: 25px;

            .rstm-toggle-icon {
                display: inline-block;
            }
            .rstm-toggle-icon-symbol {
                width: 2rem;
                height: 2rem;
                text-align: center;
                line-height: 2rem;
            }

            .rstm-tree-item-group {
                list-style-type: none;
                padding-left: 0;
                border-top: 1px solid #ccc;
                text-align: left;
                width: 100%;
            }

            .rstm-tree-item {
                padding: 0.75rem 1rem;
                cursor: pointer;
                color: #333;
                background: none;
                border-bottom: 1px solid #ccc;
                box-shadow: none;
                z-index: unset;
                position: relative;
            }
            .rstm-tree-item--active {
                color: white;
                background: #179ed3;
                border-bottom: none;
            }
            .rstm-tree-item--focused {
                box-shadow: 0 0 5px 0 #222;
                z-index: 999;
            }

            .rstm-search {
                padding: 1rem 1.5rem;
                border: none;
                width: 100%;
            }
            /*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3NyYy9zYXNzL21haW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHQTtFQUNFLHFCQUFxQixFQUFBO0VBQ3JCO0lBQ0UsV0FOWTtJQU9aLFlBUFk7SUFRWixrQkFBa0I7SUFDbEIsaUJBVFksRUFBQTs7QUFhaEI7RUFDRSxxQkFBcUI7RUFDckIsZUFBZTtFQUNmLDBCQUEwQjtFQUMxQixnQkFBZ0I7RUFDaEIsWUFBWSxFQUFBOztBQUdkO0VBQ0UscUJBQXFCO0VBQ3JCLGVBQWU7RUFDZixXQUFXO0VBQ1gsZ0JBQWdCO0VBQ2hCLDZCQUE2QjtFQUM3QixnQkFBZ0I7RUFDaEIsY0FBYztFQUNkLGtCQUFrQixFQUFBO0VBRWxCO0lBQ0UsWUFBWTtJQUNaLG1CQUFtQjtJQUNuQixtQkFBbUIsRUFBQTtFQUdyQjtJQUNFLDBCQUEwQjtJQUMxQixZQUFZLEVBQUE7O0FBSWhCO0VBQ0Usb0JBQW9CO0VBQ3BCLFlBQVk7RUFDWixXQUFXLEVBQUEiLCJmaWxlIjoibWFpbi5jc3MifQ== */
        }
    }

    .note-right-wrapper {
        width: 20%;
    }

    // .logout_notepage {
    .Signout .signout-container {
        position: absolute;
        top: 1vh;
        right: 1vh;
    }
    // }
}
