#Todo {
    max-height: rem(450px);
    outline: none;

    .full-size-block-subtitle {
        padding-right: rem(60px);
    }

    .ant-dropdown-link {
        cursor: pointer;
    }
    .ant-calendar-picker-input {
        border: none;
    }

    .ant-dropdown-link.ant-dropdown-trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(5px);
    }

    .todoCard-content-container {
        height: auto;
    }

    .todoCard-content-element {
        border-bottom: 1px solid $lightgray;
        margin-bottom: rem(12px);

        &:last-child {
            padding-bottom: rem(12px);
        }
    }

    .todoCard-content-element__todo-text {
        display: flex;
        justify-content: center;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .todoCard-content-element__todo-text-content {
            border: none;

            &:focus {
                color: $primary;
            }
        }
    }

    .todoCard-content-element__todo-assignee-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
    }

    .todoCard-content-element__todo-assignee-part {
        width: 75%;
    }

    .todoCard-content-element__todo-assignee {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
            cursor: pointer;
            color: $primary;
        }
    }

    .todoCard-content-element__todo-todo-part {
        width: 55%;
        align-items: center;
    }
    .todoCard-content-element__todo-text {
        width: 100%;

        &.done {
            justify-content: flex-start;
        }
    }
    .todoCard-content-element__checkbox-icon {
        width: rem(14px);
        height: rem(14px);
    }
    .todoCard-content-element__todo-delete {
        &:hover {
            cursor: pointer;
        }
    }

    .todoCard-content-element__todo-due-container {
        width: 15%;
    }
}
