.NoteLeftBlock-container {
    width: 100%;
    min-height: rem(500px);
    margin-top: rem(50px);

    display: flex;
    flex-direction: row;

    .NoteLeftBlock-button-container {
        all: none;
        position: fixed;
        width: rem(50px);
        top: 20%;
        height: 60%;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            .NoteLeftBlock-create-buttons {
                left: 0;
            }
        }
    }
    .NoteLeftBlock-create-buttons {
        position: fixed;
        width: rem(70px);
        left: rem(0px);
        transition: left 300ms ease;

        display: flex;
        flex-direction: column;

        .add-block-button {
            width: 100%; //rem(60px);
            height: rem(50px);
            margin: 0 0 rem(6px) 0;
            padding: 0 0 0 0;

            border-top-right-radius: 0.28571rem;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0.28571rem;
            border-bottom-left-radius: 0;
            // background-color: $gray;
            border-color: $quaternary;
        }

        .auto-type-button {
            width: rem(40px);
            height: rem(40px);
            margin: rem(25px) 0 rem(3px) 0;
            padding: 0 0 0 0;

            border-top-right-radius: 0.28571rem;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0.28571rem;
            border-bottom-left-radius: 0;
            background-color: $error;
        }
    }

    .NoteLeftBlock__blockList {
        width: 100%;
        padding: 0 rem(50px) 0 rem(50px);
    }

    .Agenda-tags {
        display: flex;
        align-items: row;
        margin: 5px 5px 5px 5px;
    }

    .full-size-block-container {
        width: 100%;
        min-height: rem(100px);
        margin-bottom: rem(20px);

        border-top: rem(4px) solid $secondary;
        border-radius: rem(7px);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        background: $white;
        // overflow: hidden;

        &:hover {
            box-shadow: rem(2px) rem(2px) rem(4px) rem(2px) $lightgray;
        }

        .full-size-block-title {
            width: 100%;
            padding: rem(10px) rem(10px) 0 rem(10px);
            // flex-direction: row;
            display: flex;
            justify-content: space-between;
            // background: $primary;

            .full-size-block-title__label {
                color: $secondary;
            }

            form {
                width: 100%;
            }

            img {
                width: 30%;
            }

            .delete-button {
                all: unset;
                float: right;
                cursor: pointer;
            }
            .full-size-block-content__text {
                width: 100%;
                font-size: rem(14px);
                font-weight: 400;
                color: $black;
                text-align: center;
            }
        }

        .full-size-block-subtitle {
            display: flex;
            justify-content: space-between;
            padding: rem(5px) rem(25px) 0 rem(20px);
        }

        .full-size-block-content {
            // max-height: rem(120px);
            padding: rem(10px);
            overflow: auto;
            // align-items: center;
            text-align: center;
            .full-size-block-content__text {
                color: $black;
            }

            img {
                width: 40%;
                // float: right;
            }
        }
        .full-size-block-content.Image {
            // max-height: rem(149px);
            padding: rem(10px);
            overflow: auto;
            align-items: center;
            text-align: center;
            .full-size-block-content__text {
                color: $black;
                width: 100%;
            }
            // button {
            //     text-align: center;
            // }
        }
    }
}

/*
.todoCard-content-container {
    margin: rem(10px) 0 rem(20px) 0;
    padding: 0 rem(25px) 0 rem(20px);
    height: rem(120px);

    overflow: auto;

    .todoCard-content-element:last-child {
        padding-bottom: 0;
    }
    .todoCard-content-element {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: rem(12px);

        .todoCard-content-element__todo {
            width: 100%;
            display: flex;
            align-items: center;
            // justify-content: space-between;

            &.between {
                justify-content: space-between;
            }
            .todoCard-content-element__todo-todo-part {
                display: flex;

                .todoCard-content-element__todo-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    span {
                        color: $primary;
                        margin-right: rem(5px);
                    }

                    &:hover {
                        cursor: pointer;
                        color: $primary;
                    }
                    &.done {
                        span {
                            color: $lightgray;
                        }
                        color: $lightgray;
                    }
                }
                .todoCard-content-element__todo-assignee {
                    margin-left: rem(30px);
                }
                .todoCard-content-element__checkbox-icon {
                    border: 1px solid $secondary;
                    border-radius: rem(2px);
                    width: rem(10px);
                    height: rem(10px);

                    margin-right: rem(10px);

                    &:hover {
                        cursor: pointer;
                        background: $secondary;
                    }

                    &.done {
                        background: $secondary;
                    }
                }
            }
        }
        .todoCard-content-element__due {
            font-size: rem(12px);
            color: $secondary;

            &.done {
                color: $lightgray;
            }
            &.late {
                color: $error;
            }
        }
    }
}

*/
