.agendaCard-container,
.noteCard-container {
    //min-width: rem(330px);
    width: 100%;
    height: rem(200px);

    box-shadow: 1px 1px 2px 1px $lightgray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: rem(5px);
    background: $white;

    border-radius: rem(4px);
    border: 1px solid $lightgray;

    margin-bottom: rem(30px);

    &:last-child {
        margin-bottom: 0;
    }
    &.--clicked {
        // background: $whitegray;
        border-left: 3px solid $primary;

        .noteCard-content-label {
            border-top-color: $lightgray;
        }
    }

    cursor: pointer;

    .noteCard-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: rem(5px) rem(30px) rem(20px) rem(30px);
        height: rem(95px);

        .noteCard-content-date,
        .noteCard-content-location,
        .noteCard-content-participant {
            display: flex;
        }
        .noteCard-content-date__label,
        .noteCard-content-location__label,
        .noteCard-content-participant__label {
            width: 30%;
        }
        .noteCard-content-date__data,
        .noteCard-content-location__data,
        .noteCard-content-participant__data {
            width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -webkit-line-clamp: 1;

            color: $tertiary;
        }
    }

    .agendaCard-content-label,
    .noteCard-content-label {
        display: flex;
        padding: rem(8px) rem(5px) rem(0px) rem(5px);
        border-top: 1px solid $whitegray;
        flex-wrap: wrap;
        cursor: default;

        .agendaCard-content-label-element,
        .noteCard-content-label-element {
            font-size: rem(12px);
            color: white;

            border-radius: rem(8px);
            padding: rem(2px) rem(8px);

            font-weight: 400;

            margin-right: rem(5px);
            margin-bottom: rem(5px);

            cursor: pointer;
        }
    }
}

.agendaCard-title-container,
.noteCard-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: rem(60px);

    .agendaCard-title-index,
    .noteCard-title-index {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        div {
            color: $tertiary;
        }
    }
    .agendaCard-title-text,
    .noteCard-title-text {
        width: 70%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: rem(10px) 0;

        div {
            display: -webkit-box;

            font-size: rem(16px);
            font-weight: 800;
            line-height: 1.15;

            text-align: center;

            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
            // white-space: nowrap;

            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .agendaCard-title-redirect,
    .noteCard-title-redirect {
        width: 15%;
        height: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        path {
            fill: $lightgray;
        }

        svg:hover {
            path {
                fill: $primary;
            }
            cursor: pointer;
        }
    }
}

.agendaCard-container {
    height: rem(220px);

    .agendaCard-content-container {
        padding: 0 rem(20px) rem(10px) rem(20px);

        .agendaCard-content-text {
            color: $tertiary;
            text-align: center;
            height: rem(60px);
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;

            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            margin-bottom: rem(10px);

            &.--not {
                color: $lightgray;
            }
        }
        .agendaCard-content-blocks {
            display: flex;
            justify-content: space-between;

            .agendaCard-content-blocks__element {
                color: $lightgray;
                &.--has {
                    color: $primary;
                }
            }
        }
    }
    .agendaCard-content-label {
        border-top-color: $lightgray;
    }
}

.todoCard-container {
    // min-width: rem(330px);
    width: 100%;
    height: rem(200px);

    box-shadow: 1px 1px 2px 1px $lightgray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: rem(5px);
    background: $white;

    border-radius: rem(4px);
    border: 1px solid $lightgray;

    margin-bottom: rem(30px);

    &:last-child {
        margin-bottom: 0;
    }
    &.--clicked {
        // background: $whitegray;
        border-left: 3px solid $primary;
        .noteCard-content-label {
            border-top-color: $lightgray;
        }
    }

    cursor: pointer;

    .todoCard-title-container {
        display: flex;
        justify-content: space-between;

        .todoCard-title-index {
            color: $tertiary;
        }

        .todoCard-title-redirect {
            width: 15%;
            height: 100%;

            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            path {
                fill: $lightgray;
            }

            svg:hover {
                path {
                    fill: $primary;
                }
                cursor: pointer;
            }
        }
    }

    .todoCard-label-container {
        padding: 0 rem(30px);

        display: flex;
        justify-content: space-between;
        color: $gray;
    }

    .todoCard-content-container {
        padding: 0 rem(20px);
        height: 65%;
        overflow: auto;

        .todoCard-content-element:last-child {
            margin-bottom: rem(5px);
        }
        .todoCard-content-element {
            display: flex;
            justify-content: space-between;

            .todoCard-content-element__todo {
                width: 70%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                -webkit-line-clamp: 1;

                display: flex;
                align-items: center;

                margin-bottom: rem(10px);

                .todoCard-content-element__checkbox-icon {
                    width: rem(14px);
                    height: rem(14px);

                    box-shadow: 0px 0px 1px 1px $lightgray inset;
                    background: white;
                    border-radius: rem(2px);

                    margin-right: rem(20px);

                    &.done {
                        background: $secondary;
                    }
                }
                .todoCard-content-element__todo-text {
                    font-size: rem(15px);
                    span {
                        font-size: rem(14px);
                        color: $quaternary;
                        margin-right: rem(5px);
                    }

                    &.done {
                        color: $lightgray;
                        span {
                            color: $lightgray;
                        }
                    }
                }
            }
            .todoCard-content-element__due {
                &.--late {
                    color: $error;
                }
                &.--done {
                    color: $lightgray;
                }
            }
        }
    }
}
