button {
    width: fit-content;
    height: rem(23px);

    border-radius: rem(4px);
    border: 0;
    padding: rem(4px) rem(25px);

    background: $whitegray;
    color: $black;

    font-size: rem(12px);
    box-shadow: rem(2px) rem(2px) rem(4px) rem(-1px) $lightgray;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background: $tertiary;
        color: $white;
    }
}

button.primary {
    background: $primary;
    color: $white;

    &:hover {
        cursor: pointer;
        background: $quaternary;
    }
}

button.secondary {
    background: $whitegray;

    &:hover {
        cursor: pointer;
        background: $primary;
        color: $white;
    }
}
button.disabled {
    background: $lightgray;
    color: $white;

    &:hover {
        cursor: not-allowed;
    }
}

button:focus {
    outline: 0;
}
