$primary: #1d60aa;
$secondary: #697691;
$tertiary: #8896b0;
$quaternary: #5887bb;

$darkgray: #4a4a4a;
$gray: #9b9b9b;
$lightgray: #dfdfdf;
$whitegray: #f4f5f7;

$error: #d0021b;

$black: #000000;
$white: #ffffff;
