input {
    outline: none;
    width: 100%;
    padding: rem(5px) rem(10px);

    border: none;
    border-bottom: 1px solid $secondary;

    color: $secondary;

    &::placeholder {
        color: $lightgray;
    }

    &:focus {
        border-bottom: 1px solid $primary;
    }
}
