.createNote-container {
    .createNote__createNoteButton {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: rem(16px) 0;
    }
}
