.googleSTT-container {
    height: 80vh;
    width: 20%;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.stt-script-container {
    overflow: auto;
    height: 80vh;
    width: 100%;

    .stt-script-element {
        background: grey;
    }

    .stt-script-last-element {
        background: yellow;
    }
}
